.wasShot {
    background-color: #f00;
}

.error {
    color: #f00;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 4px;
}

td {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
}

#ownTable td, #opponentTable td {
    width: 20px;
    height: 20px;
}

#ownTable {
    margin-right: 40px;
}

#ownTable td, #opponentTable td.wasShot {
    background-color: #9cf;
}

#opponentTable td {
    background-color: #ccc;
}

#ownTable td.wasShot {
    background-color: #06f;
}

#ownTable td.hasShip {
    background-color: #333;
}

#ownTable td.hasShip.wasShot, #opponentTable td.hasShip.wasShot {
    background-color: #f00;
}