<div><a href="#/lobby">Lobby</a> - <a href="#/login">Logout</a></div><br/>
<div>{{status}}</div><br/>
<div style="float: left">
  {{game.own.name}} ({{game.own.won}}:{{game.own.lost}}):
  <table id="ownTable">
    <tr ng-repeat="row in game.own.field">
      <td ng-repeat="field in row" ng-class="{'wasShot': field.wasShot, 'hasShip': field.hasShip}">
      </td>
    </tr>
  </table>
  <div ng-show="!game.own.ready">
    <button ng-click="repopulate()">repopulate</button>
    <button ng-click="ready()">ready</button>
  </div>
  <div ng-show="game.own.ready">ready</div>
</div>
<div>
  <span ng-show="game.opponent">{{game.opponent.name}} ({{game.opponent.won}}:{{game.opponent.lost}}):
    <table id="opponentTable">
      <tr ng-repeat="row in game.opponent.field">
        <td ng-repeat="field in row" ng-class="{'wasShot': field.wasShot, 'hasShip': field.hasShip}"
            ng-click="shoot(field)">
        </td>
      </tr>
    </table>
    <div ng-show="game.opponent.ready">ready</div>
  </span>
</div>