<div style="float: left">
  You:
  <table id="ownTable">
    <tr ng-repeat="row in own">
      <td ng-repeat="field in row" ng-class="{'wasShot': field.wasShot, 'hasShip': field.hasShip}" ng-click="click(field)">
      </td>
    </tr>
  </table>
</div>
<div>
  Opponent:
  <table id="opponentTable">
    <tr ng-repeat="row in opponent">
      <td ng-repeat="field in row" ng-class="{'wasShot': field.wasShot, 'hasShip': field.hasShip}" ng-click="click(field)">
      </td>
    </tr>
  </table>
</div>
<button ng-click="createRoom()">Create Game</button>